# Virtual environment
/venv

# Exclude Python cache files and directories
*.pyc
__pycache__

# Exclude local environment configuration
.env

# Exclude local development environment configurations
.vscode
.idea